* {
    margin: 0px;
    font-family: Mooli;
    font-size: medium;

}

:root {
    --Pallete1Color1: #8b11c0;
    --Pallete1Color2: #780dae;
    --Pallete1Color3: #64099c;
    --Pallete1Color4: #510489;
    --Pallete1Color5: #3d0077;

    --Pallete2Color1: #225da6;
    --Pallete2Color2: #1a4e95;
    --Pallete2Color3: #114083;
    --Pallete2Color4: #093172;
    --Pallete2Color5: #002260;

    --Pallete3Color1: #64de9f;
    --Pallete3Color2: #4bcb8e;
    --Pallete3Color3: #32b97d;
    --Pallete3Color4: #19a66b;
    --Pallete3Color5: #00935a;

    --Pallete4Color1: #e0ca47;
    --Pallete4Color2: #ccb829;
    --Pallete4Color3: #b8a61c;
    --Pallete4Color4: #a3940e;
    --Pallete4Color5: #908200;

    --fundo: rgb(35, 85, 85);
    --escuro: hsla(0, 0%, 0%, 0.95);
    --claro: rgba(47, 47, 47, 0.7);
}

body {
    color: white;
    /* background: var(--fundo); */
    background-image: url(img/livroBackground.jpg);

}

header {
    width: auto;
    height: auto;

    padding: 5px 5px 10px 10px;

    background-color: var(--Pallete1Color1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h2 {
    text-align: center;
}

footer {
    margin-top: 30px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px auto 10px auto;
}

a {
    width: 150px;
    text-decoration: none;

    color: white;
    
}

p {
    margin: 0px 10px 5px 10px ;
    text-align: justify;
}
table td,th{
    border: 1px solid;
    border-collapse: collapse; 
    padding: 5px;
  }


/*  ids */
#active
{
    background-color: var(--Pallete1Color5);
}
#active:hover
{
    background-color: var(--Pallete1Color4);
}
#meio 
{
    text-align: center;
}
#division
{
    background-color: var(--Pallete1Color1);
    height: 30px;
}
#esp
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
#Avatar
{
    width: 100px;
    height: 100px;

    margin: 10px auto  20px auto;
}

#changeColors
{
    width: 100px;
    margin: 15px 0 0 10vw;
}

#a3_especial
{
    display: flex;
    flex-direction: column;

    margin: 10px 0 30px 0;
    margin-bottom: 30px;
    width: 90vw;

    padding: 5px;

    border-radius: 10px;
    background-color: var(--escuro);

    max-width: 90%;
}

/* class */
.a1 {
    margin: auto;

    padding: 5px;

    border-radius: 10px;
    background-color: var(--escuro);

    max-width: 90%;
}


.a2 {
    display: flex;
    text-indent: 2em;

    width: auto;
    height: auto;

    max-width: 80%;
    margin-top: 30px;
}


.a3 {
    padding: 10px 0 10px 0;
    border-radius: 10px;

    /* display: flex; */
    justify-content: center;


    max-width: 1500px;
    background: var(--escuro);
}


.b1 {
    margin: 7px 7px 7px 15px;
    padding: 7px;
    border-radius: 10px;

    background-color: var(--escuro);

    width: 300px;
    height: auto;
}

.b1:hover {
    background-color: var(--claro);
}

a:hover {
    background-color: var(--Pallete1Color2);

}



/* menu de navegação */
#menuB {
    position: relative;
    top: 10px;

    background-color: var(--Pallete1Color3);
    color: white;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
    padding: 7px;
    margin: 10px 10px 0 5px;
}

.conteudo {
    display: flex;
    position: absolute;
    top: 40px;
    left: -15em;

    width: 212px;
    padding: 5px;

    background-color: rgba(23, 23, 23, 0.988);
    box-shadow: 10px 15px 15px 10px rgba(0, 0, 0, 0.178);

    transition: left 1s;
}

.conteudo li {
    position: relative;
    right: 17px;

    display: flex;
    list-style-type: none;
    margin: 0 10px 5px 0;
}

.conteudo a {
    width: 150px;
    padding: 7px;

    background-color: var(--Pallete1Color3);
}
#menuB:hover {
    background-color: var(--Pallete1Color2);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.conteudo a:hover
{
    background-color: var(--Pallete1Color2);
}
#menuB:hover .conteudo {
    left: -15px;
}
.menuIcon
{
    float: left;
    background-image: var(--Pallete3Color3);
}

/* acervo */
.acervo li {
    display: flex;
    text-align: center;
}
.acervo a {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 160px;
    background-color: var(--Pallete1Color3);
}
.acervo a:hover
{
    background-color: var(--Pallete1Color2);
}

.acervo img {
    margin: 0 20px 0 0;

    max-height: 160px;
    max-width: 120px;
}

/* imagem */
.imag {
    position: relative;

    display: flex;
    justify-content: center;
}

.imag img {
    margin: auto;
    width: 150px;

    transition: width 1s;
}
.imag a{
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
}
.imag img:hover {

    width: 200px;
    transition: width 1s;

}

/* media querie */
@media screen and (max-width:600px) {
    .a2 {
        display: none;
    }
}

@media screen and (max-width:460px) {
    .imag img:hover {

        width: 170px;
        transition: width 1s;
    
    }
    .imag a
    {
        margin: 0 20px 0 0;

    }
    .imag #aEspecial
    {
        display: none;
    }
    #imgEspecial {
        display: none;
    }
}
/* acervo */
@media screen and (max-width:9000px) {
    
    .acervo a
    {
        width: 200px;
    }
    .a3
    {
        display: flex;
        width: 900px;
    }
}
@media screen and (max-width:900px) {
    .acervo a
    {
        width: 200px;
    }
    .a3
    {
        flex-direction: column;
        width: 380px;
    }
}
@media screen and (max-width:390px) {
    .acervo a
    {
        width: 150px;
    }
    .a3
    {
        flex-direction: column;
        width: 320px;
    }
}
/* fonte externa */
@font-face {
    font-family: Roboto ;  
    src: url(src/Roboto/Roboto-BlackItalic.ttf);
}
@font-face {
    font-family: Mooli;
    src: url(src/Mooli/Mooli-Regular.ttf);
}